.navbar {
    background-color:#2399de;
    display: block;
}
.logo {
    display: inline-block;
    height: 30px;
    width: 50px;
    padding-left: 20px;
    margin-right: 5px;
}

.git {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.search {
    padding: 5px;
    width: 350px;
    height: 40px;
    border-radius: 1px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}

.box {
    display: block;
    align-items: center;
    margin-right: 20px;
}

.hover a:hover {
    background-color: rgb(255, 255, 255);
  }